<!-- <h4>HAS INICIADO SESION!!</h4> ya tengo webservice IMPLEMENTAR enviar ID de json y mostrar la data que reciba,
                                    cambiar a que la vista sea estatica, reciba las fotos del json y sea su propio componente
                                    a futuro, vista con un solo boton donde se suban las imagenes y haya un boton que sea para procesar y lo envie a uno a la pagina de la info-->

<div class="auth-inner start-inner">
  <div class="content-wrapper">
    <div class="input-container">
      <label for="idInput">Ingrese el ID:</label>
      <input id="idInput" [(ngModel)]="inputId" type="text" placeholder="Introducir ID">
      <button (click)="fetchData()">Obtener Datos</button>
    </div>
  </div>
</div>